*.pyc
node_modules/
nbproject
win_dist/
deb_dist/
debian/
build/
tmp/
web2board.egg-info/
src/serial_poc.py
# Editor File Ignore
*.sublime-project
*.sublime-workspace
.idea/
.Python
.pioenvs
bin/
include/
src/res/
*_web2board_*
installers/
*.log