Source: web2board
Section: main
Priority: optional
Maintainer: bitbloq Team <support-bitbloq@bq.com>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: http://bitbloq.bq.com
Package: web2board
Architecture: {architecture}
Description: WEB2BOARD
 Program that connects a webapp and an Arduino compatible board. It is able to compile and upload Arduino sketches as well as open a custom serial monitor.
 After installing this package, open a terminal and enter the following command, substituting [your-user] with your username: sudo adduser [your-user] dialout 
 PLEASE REBOOT YOUR COMPUTER AFTER THE INSTALLATION. / 
 POR FAVOR REINICIA EL ORDENADOR DESPUÉS DE LA INSTALACIÓN.
Version: {version}
