pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
td button {
  height:100%;
  width:100%;
  min-height: 25px;
}

tr:nth-child(even) {
  background: #fff7db
}
tr:nth-child(even) input {
  background: #e5ddc2
}
tr:nth-child(odd) {
  background: #FFF
}