<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D131</string>
	<key>CFBundleDisplayName</key>
	<string>Atom Helper NP</string>
	<key>CFBundleExecutable</key>
	<string>Atom Helper NP</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.atom-shell.helper.NP</string>
	<key>CFBundleName</key>
	<string>Atom Helper NP</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>DTSDKBuild</key>
	<string>14D125</string>
	<key>DTSDKName</key>
	<string>macosx</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DTXcodeBuild</key>
	<string>6D570</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
