[Desktop Entry]
Type=Application
Name=web2board
Comment=web2board
Icon=/opt/web2board/res/Web2board.ico
Exec=/opt/web2board/web2board
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;
Name[es]=web2board.txt
