[Desktop Entry]
Type=Application
Name=web2board
Comment=web2board
Icon=/usr/lib/python2.7/dist-packages/web2board/res/Web2board.ico
Exec=/usr/bin/python /usr/lib/python2.7/dist-packages/web2board/web2board.py
Path=/usr/lib/python2.7/dist-packages/web2board/
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;
Name[es]=web2board.txt
